In [1]:
import pandas as pd
print(pd.__version__)

2.0.3

In [2]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'],
       'jenis_kelamin': ['L', 'L', 'P', 'L'],
       'usia': [23, 21, 22, 25]}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [7]:
usia = df.pop('usia').to_frame()

KeyError: 'usia'

In [8]:
df

    nama jenis_kelamin
0   bayu             L
1  indra             L
2   devi             P
3   agni             L

In [9]:
usia

   usia
0    23
1    21
2    22
3    25